<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<head>
    <title>$title backlog</title>
    <style type="text/css">
        @import "${base_path}/chrome/backlog/js/dijit/themes/tundra/tundra.css";
    </style>
    <script type="text/javascript" src="${base_path}/chrome/backlog/js/dojo/dojo.js" djConfig="parseOnLoad: true"/>
    <script type="text/javascript" src="${base_path}/chrome/backlog/js/dojo/dnd/Container.js" />
    <script type="text/javascript" src="${base_path}/chrome/backlog/js/dojo/dnd/Selector.js" />
    <script type="text/javascript" src="${base_path}/chrome/backlog/js/dojo/dnd/Source.js" />
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dojo.dnd.Source");
        dojo.require("dojo.NodeList-fx");
        dojo.require("dijit.Menu");

        <?python
            import re
            def milestone_id(milestone_name):
                return milestone_name.replace('_', '__').replace(' ', '_')
        ?>

        var context_target;

        function captureContext(evt) {
            var target = evt.target;
            if (target.localName == 'a') {
                target = target.parentNode.parentNode;
            }
            else if (target.localName == 'td') {
                target = target.parentNode;
            }
            context_target = target.id;
        }

        function init() {
        
            dojo.addClass(dojo.body(),'tundra');

            var tickets = new dojo.dnd.Source("tickets", {singular: true});

            var contextMenu;
            var topMenuItem;
            var bottomMenuItem;
            var openInNewWindow;
            var separator;

            var targets = dojo.query('tr.dojoDndItem').map(
                function(node) {
                    return node.id;
                }
            );
            contextMenu = new dijit.Menu({targetNodeIds: targets});
            topMenuItem = new dijit.MenuItem({label: 'Send to top', onClick: sendToTop});
            bottomMenuItem = new dijit.MenuItem({label: 'Send to bottom', onClick: sendToBottom});
            separator = new dijit.MenuSeparator();
            openInNewWindowMenuItem = new dijit.MenuItem({label: 'Open in new window', onClick: openInNewWindow});
            contextMenu.addChild(topMenuItem);
            contextMenu.addChild(bottomMenuItem);
            contextMenu.addChild(separator);
            contextMenu.addChild(openInNewWindowMenuItem);
            
            // Set context_target when opening the context menu
            dojo.connect(contextMenu,'_openMyself',captureContext);

            function sendToTop() {
                var tickets_table = dojo.query('#tickets_table');
                var tickets = dojo.query('tr.dojoDndItem');
                var first_ticket = tickets[0].id;
                if (context_target != first_ticket) {
                    moveBefore(tickets_table,context_target,first_ticket);
                    dojo.place(context_target,first_ticket,'before');
                }
            }

            function sendToBottom() {
                var tickets_table = dojo.query('#tickets_table');
                var tickets = dojo.query('tr.dojoDndItem');
                var last_ticket = tickets[tickets.length-1].id;
                if (context_target != last_ticket) {
                    moveAfter(tickets_table,context_target,last_ticket);
                    dojo.place(context_target,last_ticket,'after');
                }
            }

            function openInNewWindow() {
                window.open(
                      '${base_path}/ticket/' + getTicketNumber(context_target))
            }

            function getTicketNumber(id) {
                return id.split("_")[1];
            }

            function highlightTarget(target, succeeded) {
                if (succeeded) {
                    target.anim({
                            backgroundColor: {
                                start: "#90EE90",
                                end: "transparent"
                            }
                        },
                        500).play();
                } else {
                    target.anim({
                            backgroundColor: {
                                start: "#CD5C5C",
                                end: "transparent"
                            }
                        },
                        500).play();
                    window.location.reload(true);
                }
            }

            function sendAjax(submitUrl, target, data) {
                target.style("cursor", "wait");
                dojo.xhrPost({
                    url: submitUrl,
                    handleAs: "json",
                    content: data,
                    load: function(returnedData) {
                        target.style("cursor", "default");
                        highlightTarget(target, true);
                
                        var e = target.query(".num_tickets");
                        if (e.length) {
                            // We dropped a ticket on a milestone, update the count
                            e = e[0];
                            e.innerHTML = new String(returnedData.num_tickets);
                        }
                    },
                    error: function(err) {
                        target.style("cursor", "default");
                        highlightTarget(target, false);
                    },
                    timeout: 5000,
                });
            }

            function moveAfter(target, movedId, afterId) {
                var movedItemId = getTicketNumber(movedId);
                var afterItemId = getTicketNumber(afterId);

                var data = {ticket_id: movedItemId,
                            after_ticket_id: afterItemId,
                            __FORM_TOKEN: "$form_token"};

                sendAjax("${base_path}/backlog/move_after", target, data);
            }

            function moveBefore(target, movedId, beforeId) {
                var movedItemId = movedId.split("_")[1];
                var beforeItemId = beforeId.split("_")[1];

                var data = {ticket_id: movedItemId,
                            before_ticket_id: beforeItemId,
                            __FORM_TOKEN: "$form_token"};

                sendAjax("${base_path}/backlog/move_before", target, data);
            }

            function assignMilestone(target, ticketId, milestoneName, milestoneId) {
                var ticket = ticketId.split("_")[1];

                var data = { ticket_id: ticket,
                             milestone: milestoneName,
                             __FORM_TOKEN: "$form_token"};

                sendAjax("${base_path}/backlog/assign", target, data);
            }

            function onDropLocal(nodes, copy) {
                var node = nodes[0];
                var prevNode = null;
                var allNodes = this.getAllNodes();
                var target = dojo.query("#tickets_table");

                allNodes.forEach(function(n,i) {
                    if (n.id == node.id) {
                        if (prevNode == null) {
                            var nextNode = allNodes[i+1];
                            moveBefore(target, node.id, nextNode.id);
                        } else {
                            moveAfter(target, node.id, prevNode.id);
                        }
                    }

                    prevNode = n;
               });
            };

            dojo.connect(tickets, "onDropInternal", onDropLocal);

            var x;
            <py:for each="milestone in active_milestones">
            x = new dojo.dnd.Target("${milestone_id(milestone.name)}");
            dojo.connect(x, "onDropExternal", function (source, nodes, copy) {
                var m = new dojo.NodeList(dojo.byId("${milestone_id(milestone.name)}"));
                m.style({ background: "transparent" });
                nodes.forEach(function(node, idx, arr){
                    // Relay the milestone change back home
                    assignMilestone(m, node.id, "${milestone.name}", "${milestone_id(milestone.name)}");

                    // Remove the node from the target
                    dojo.destroy(node);
                });
            });

            dojo.connect(x, "onDraggingOver", function () {
                var m = new dojo.NodeList(dojo.byId("${milestone_id(milestone.name)}"));
                m.style({ background: "LightYellow" });
            });

            dojo.connect(x, "onDraggingOut", function () {
                var m = new dojo.NodeList(dojo.byId("${milestone_id(milestone.name)}"));
                m.style({ background: "transparent" });
            });

            </py:for>
          }

          dojo.addOnLoad(init);
    </script>
    </head>

    <body>
        <div id="content" class="report">

    <h1>$title backlog</h1>

    <div id="container">
        <div style="width:80%; float: left;">
            <table id="tickets_table" class="listing tickets">
                <thead>
                    <tr>
                        <th py:if="'id' in shown_fields">Id</th>
                        <th py:if="'summary' in shown_fields">Summary</th>
                        <th py:if="'component' in shown_fields">Component</th>
                        <th py:if="'version' in shown_fields">Version</th>
                        <th py:if="'type' in shown_fields">Type</th>
                        <th py:if="'owner' in shown_fields">Owner</th>
                        <th py:if="'status' in shown_fields">Status</th>
                        <th py:if="'time_created' in shown_fields">Created</th>
                    </tr>
                </thead>
                <tbody id="tickets">
                    <tr py:for="ticket in tickets" id="ticket_${ticket.id}" class="dojoDndItem">
                        <td py:if="'id' in shown_fields"><a href="${base_path}/ticket/${ticket.id}">#$ticket.id</a></td>
                        <td py:if="'summary' in shown_fields"><a href="${base_path}/ticket/${ticket.id}">$ticket.summary</a></td>
                        <td py:if="'component' in shown_fields">$ticket.component</td>
                        <td py:if="'version' in shown_fields">$ticket.version</td>
                        <td py:if="'type' in shown_fields">$ticket.type</td>
                        <td py:if="'owner' in shown_fields">$ticket.owner</td>
                        <td py:if="'status' in shown_fields">$ticket.status</td>
                        <td py:if="'time_created' in shown_fields">${format_date(ticket.time_created)}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="milestone_list">
            <div py:for="milestone in active_milestones" id="${milestone_id(milestone.name)}" class="milestone">
                <h4><a href="${base_path}/backlog" py:if="milestone.name == '(unscheduled)'">${milestone.name}</a>
                    <a href="${base_path}/backlog/milestone/${milestone.name}" py:if="milestone.name != '(unscheduled)'">${milestone.name}</a></h4>
                <table>
                  <tr><td>Due:</td><td>${milestone.due}</td></tr>
                  <tr><td>Tickets:</td><td class="num_tickets">${milestone.num_tickets}</td></tr>
                </table>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
